.splash {
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.navbar-brand {
  color: #fff;
}

.navbar-brand img {
  display: inline-block;
  margin: 0 10px;
  width: 50px;
}

.brand-text {
  font-family: 'Comic Neue', cursive;
  font-size: 2.5rem !important;
}

.form-label-text {
  font-family: 'Comic Neue', cursive;
  font-size: 1.5rem !important;
}

.header-text {
  font-family: 'Caveat Brush', cursive;
  font-size: 3.5rem !important;
}

body {
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.gameboard {
  padding: 20px;
  margin: 20px;
  background: rgba(255,255,255,0.6);
  min-height: 80vh;
}

.object-fit-img {
  height: 8rem;
  object-fit: cover;
}

.card-style {
  width: 8rem;
}

.card-modal-img {
  height: 30rem;
  object-fit: cover;
}

html {
  min-height: 100%;
}